.venueTable {
  display: inline-grid;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  border-color: rgba(0, 0, 0, 0.212);
  cursor: pointer;
}

.userInput input, textarea, select,textarea {
  position: absolute;
  right: 5px;
}

.venueInput input, textarea {
  position: relative;
  right: 5px;
}

#notLogged {
  position: fixed;
  bottom: 0px;
  left: 0px; 
  z-index: 2;
}

#loggedIn {
  color: black;
  position: fixed;
  bottom: 0px;
  left: 0px; 
  z-index: 2;
}

#venuePrimaryThumbnail {
  width: 330px;
  height: 280px;
}

#sidebar {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 2px solid black;
  background: gray;
}

#sidebar p {
  padding: 8px 3px 0px 8px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  margin-left: 0px;
  margin-right: 3px;
}

#venueSearch {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  width: 95%;
  margin-left: 3px;
  margin-right: 3px;
}

#sidebar select {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 15px;
  width: 95%;
  color: black;
  display: block;
  margin-left: 3px;
  margin-right: 3px;
}

#sidebar h1 {
  color: black;
  padding: 0px, 0px, 6px, 16px;
}

#sidebar span {
  padding: 8px 3px 0px 8px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  margin-left: 0px;
  margin-right: 3px;
}

#sidebar a {
  padding: 8px 3px 0px 8px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 0px;
  margin-right: 3px;
  cursor: pointer;
}

#sidebar .starFilterButton {
  padding: 8px 3px 0px 8px;
  margin-left: 3px;
  margin-right: 3px;
}

#mainBody {
  margin-left: 270px;
}

.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.wrapper-parent {
  width: auto;
}

.VueCarousel-slide {
  position: relative;
  background: #42b983;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  text-align: center;
  min-height: 400px;
  max-width: 500px;
}

body,
html {
  height: 100%;
  background: rgb(199, 199, 199);
}
